<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    
    <link href="{{ theme_static('bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ theme_static('adjust.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ theme_static('pygments.css') }}" rel="stylesheet" type="text/css">
    
    <script src="{{ theme_static('jquery.css') }}" type="text/javascript"></script>
    <script src="{{ theme_static('bootstrap.css') }}" type="text/javascript"></script>
    
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<a href="#" class="brand">{{ title }}</a>
					<ul class="nav">
						{% for (item, link) in menu %}
						<li><a href="{{ link }}">{{ item }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			</div>			
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span8 offset2">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
</body>
</html>
