{% extends theme('base.html', false) %}

{% block content %}
	<ul class="unstyled">
	{% for element in pagination.current %}
	<li>
	<div>
			{% if element.type %}
				{% include [theme('posts/' + element.type + ".html", false), theme('posts/default.html', false)] %}
			{% else %}
				{% include theme('posts/default.html', false) %}
			{% endif %}
			<div class="row">
				{% if DISQUS %}
					<div class="span4">
							<a class="btn btn-small disabled" href="{{ url_for('post', post=element.path) }}#disqus_thread"></a>
					</div>
					<div class="span1 offset3">
				{% else %}
					<div class="span1 offset7">
				{% endif %}
							<a class="btn btn-small" href="{{ url_for('post', post=element.path) }}" rel="bookmark" title="Permalink to {{ element.meta['title'] }}">Mehr</a>
					</div>
			</div>
	</div>
	</li>
	{% if not loop.last %}
	<li><hr></li>
	{% endif %}
	{%  endfor %}
	</ul>
	<ul class="pager" id="pagination">
		{% if pagination.has_prev %}
			<li class="previous"><a href="{{ url_for('postindex', page=pagination.page-1) }}">&larr; Newer</a></li>
		{% endif %}
		<li class="disabled"><a href="#pagination">{{ pagination.page }}/{{ pagination.pages }}</a></li>
		{% if pagination.has_next %}
			<li class="next"><a href="{{ url_for('postindex', page=pagination.page+1) }}">Older &rarr;</a></li>
		{% endif %}
	</ul>
{% endblock content %}